<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

  <title>Redeem</title>

</head>
{% extends 'includes/layout.html'%}
{% block body %}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->


      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="rewards">Rewards</a>
        </li>
        <li class="breadcrumb-item active">Reedem</li>
      </ol>
        <img src="{{ url_for('static', filename="rdm.PNG")}}" style="display: block; margin: 0 auto; " >

        <div class="form-group"> <br>
            <h5><b>Request a One Time Redemption</b>
            </h5>
            <h6>* required</h6>
            <h6>Redemption Options *</h6>
             <select>

  <option value="v">(Select redemption option)</option>
  <option value="s">CapitalMall Asia S$40 Voucher</option>
  <option value="m">Takashimaya Department Store S$50 Voucher</option>
  <option value="a">ESSO SYNERGY S$40 Fuel Voucher</option>
</select>

            <br>
            <br>
            <br>
            <h6> Enter points to redeem *</h6>
            <form>
                <input type="text" name="fname" placeholder="Enter Points"></form>
            Minimum 2,500 points

            <br>
            <button type="button" class="btn">Submit</button>
            <button type="button" class="btn">Cancel</button>
        </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>
    </footer>

</div>
  </div>

        {% endblock %}
</body>
</html>
